@font-face {
  font-family: "Kohinoor";
  src: url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.eot");
  src: url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/fb472d305ee243190d1b04659778dbcb.svg#Kohinoor")
      format("svg");
}
* {
  font-family: "kohinoor" Arial, Helvetica, sans-serif;
}
.App__background {
  background: gold;
  height: 1000vh;
}
.App__centerflex {
  display: flex;
  justify-content: center;
}
.App__endflex {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  height: 36.6vw;
  border-radius: 2vw;
}
.App__navbackground {
  background: rgba(0, 0, 0, 0.9);
  height: 300px;
  width: 100vw;
  position: fixed;
}
.App__firstbackground {
  top: 250px;
  height: 50vw;
  background: rgba(0, 0, 0, 0.9);
  width: 65.7vw;
  margin-left: -1.5vw;
  border: 10px solid white;
  border-radius: 2vw;
  position: absolute;
  box-shadow: 0 1px 20px 2px rgba(0, 0, 0, 0.3);
}
.App__secondbackground {
  display: flex;
  width: 100vw;
  justify-content: center;
  top: calc(300px + 60vw);
  position: absolute;
}
.Intro__kz {
  width: 15%;
  margin-right: 1vw;
}
.Intro__kzcont {
  display: flex;
}
.parallaxcont {
  height: 380vw;
  width: 100vw;
}
.PRL__parallax {
  position: absolute;
  width: 100vw;
  top: 90px;
  opacity: 0.6;
  z-index: 0;
}
#PRL__leftone {
  width: 50vw;
  margin-top: 90vw;
  margin-left: 10vw;
  margin-top: 160vw;
}
#PRL__lefttwo {
  margin-left: 80vw;
  margin-top: 250vw;
  width: 9vw;
}
#PRL__leftthree {
  margin-right: 75vw;
  width: 19vw;
  margin-left: 60vw;
  margin-top: 560vw;
}
#PRL__leftfour {
  width: 29vw;
  margin-left: 5vw;
  margin-top: 190vw;
}

.drop-shadow.bottom {
  box-shadow: 0 40px 20px -2px rgba(0, 0, 0, 0.8);
}
.App__navsvg {
  overflow: hidden;
  height: 500px;

  position: absolute;
}
.App__hiimg {
  height: 43.2vw;
  border-radius: 0vw 0vw 2vw 0vw;
  z-index: 600;
}
.About__hiimgklas {
  height: 20vw;
  margin-top: -10.4vw;
  margin-right: -0.99vw;
  z-index: 100;
}
.About__hiimgapp {
  height: 20vw;
}
.Intro__cont {
}
.Intro__title {
  font-family: "kohinoor";
  font-weight: 800;
  font-size: 13vw;
  color: white;
  margin-top: -3.5vw;
  padding-left: 2vw;
}
.Intro__footer {
  color: white;

  font-family: "kohinoor";
  font-weight: 800;
  font-size: 2.3vw;
  z-index: 600;
}
.Intro__mail {
  width: 100%;
  cursor: pointer;
}
.Intro__mail:focus {
  color: gray;
}
.Intro__iconcont {
  position: absolute;
  top: 40vw;
  left: 4.3vw;

  width: 24vw;
  display: flex;
  justify-content: space-between;
}
.Intro__textcont {
  padding-left: 5vw;
  margin-top: calc(-10px + 8vw);
  position: absolute;
  left: 0;
  color: white;
  line-height: 3.5vw;
  width: 25vw;
  top: 40px;
  font-size: 1.5vw;
}
.About__textcont {
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 10;
}
.About__title {
  font-family: "kohinoor";
  font-weight: 800;
  font-size: 13vw;
  color: white;
  margin-top: -3.5vw;
}
.About__textwrap {
  color: black;
  line-height: 3.5vw;
  font-size: 1.5vw;
  background: lightgray;
  opacity: 0.95;
  margin-top: -4.2vw;
  padding: 2.3vw;
  width: 61.7vw;
  display: flex;
  justify-content: space-between;
}
.About__kaizen {
  margin-top: -5vw;
  width: 100vw;
  position: absolute;
  opacity: 0.6;
}

.PF__title {
  font-family: "kohinoor";
  font-weight: 800;
  font-size: 13vw;
  color: gold;

  padding: 0.2vw;
}
.App__thirdbackground {
  display: flex;
  width: 100vw;
  justify-content: center;
  top: calc(300px + 100vw);
  height: 1000px;
  position: absolute;
  background: white;
}
.PF__pfconttitle {
  position: relative;
  margin-top: -3.5vw;
  height: 17vw;
}
